<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="productPage"></div>
<div class="content-page">
    <div class="content">
        
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row page-title mt-2 d-print-none">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" class="float-right mt-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="fw-600">Product</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Publish</li>
                        </ol>
                    </nav>
                    <h4 class="mb-1 mt-0">Publish </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div id="smartwizard-arrows" class="sw-main sm-product sw-theme-arrows">
                        <ul class="nav nav-tabs step-anchor">
                            <li class="nav-item active"><a routerLink="/product/{{productId}}/add-product"  class="nav-link">Create Product<small class="d-block">Step 1</small></a></li>
                            <li class="nav-item active"><a routerLink="/product/{{productId}}/decide-cost"  class="nav-link white">Decide the Cost<small class="d-block">Step 2</small></a></li>
                            <li class="nav-item active"><a routerLink="/product/{{productId}}/add-course"  class="nav-link white">Add Course<small class="d-block">Step 3</small></a></li>
                            <li class="nav-item active"><a routerLink="/product/{{productId}}/product-publish"  class="nav-link white">Publish<small class="d-block">Step 4</small></a></li>
                        </ul>
                        <div class="m-t-40 row">
                            <div class="col-md-9 mx-auto">
                                <div class="card">
                                    <div class="card-body">
                                      <form (ngSubmit)="onPublishProduct()" [formGroup]="publishProductForm">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <h6 class="mb-2">Publish Product to offer visibility to candidate</h6>
                                                <div class="custom-control custom-switch mb-2">
                                                    <input type="checkbox" class="custom-control-input" formControlName="publish" id="customSwitch1">
                                                    
                                                    <label class="custom-control-label" for="customSwitch1">Publish</label>
                                                </div>
                                             </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                         <label class="w-100">Start Date</label>
                                                         <mat-form-field>
                                                            <input formControlName="startPublishDate" matInput [matDatepicker]="picker4">
                                                            <show-errors [control]="this.publishProductForm.get('startPublishDate')"></show-errors>
                                                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker4></mat-datepicker>
                                                          </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                         <label class="w-100">End Date</label>
                                                         <mat-form-field>
                                                            <input formControlName="endPublishDate" matInput [matDatepicker]="picker3">
                                                            <show-errors [control]="this.publishProductForm.get('endPublishDate')"></show-errors>
                                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker3></mat-datepicker>
                                                          </mat-form-field>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-md-6 mx-auto">
                                                    <div class="mt-3 text-center form-group">
                                                        <button class="btn btn-primary btn-sm mr-3" routerLink="/product/{{this.productId}}/add-course"> <i class="uil uil-arrow-left"></i> Previous  </button>
                                                        <button class="btn btn-success btn-sm">Finish <i class="uil uil-arrow-right"></i> </button>
                                                    </div>
                                                </div>    
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
            </div>
            <!-- end row -->
        </div> <!-- container-fluid -->
    </div> <!-- content -->
</div> 

