<div class="authentication-bg">
        
    <div class="account-pages py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6 col-sm-6 p-5 padd-550">
                                    <div class="mx-auto mb-4">
                                        <a routerLink="/">
                                            <img src="assets/images/logo_login.svg"  width="110px"  class="img-fluid" alt="" height="" />
                                        </a>
                                    </div>
  
                                    <h6 class="h5 mb-0 mt-4">Reset Password</h6>
                                    <p class="text-muted mt-1 mb-5">
                                        Enter your email address and we'll send you an email with instructions to reset your password.
                                    </p>
   
                                    <form class="authentication-form" (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
                                      <app-custom-password label="Enter New Password" formControlName="currentPassword">
                                      </app-custom-password>
                                      <app-custom-password label="Enter Confirm Password" formControlName="confirmPassword">
                                      </app-custom-password>
                                        <div class="form-group mt-4 mb-0 text-center">
                                            <button [disabled]="resetPasswordForm.invalid" class="btn btn-block btn-filled form-btn">
                                                <span class="bh"></span>
                                                <span>Submit<i class="float-right uil uil-arrow-right"></i></span>
                                            </button>
                                       </div>
                                    </form>
                                </div>
                                <div class="col-lg-6 d-none d-md-inline-block">
                                    <div class="auth-page-sidebar">
                                        <div class="overlay"></div>
                                        <div class="auth-user-testimonial">
                                            <p class="font-size-24 font-weight-bold text-white mb-1">I love it!</p>
                                            <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. "</p>
                                            <p>- Admin</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->
  
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    
  </div>
  
  
  