<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="testPage"></div>
<div class="content-page">
  <div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
      <div class="row page-title mt-2 d-print-none">
        <div class="col-md-12">
          <nav aria-label="breadcrumb" class="float-right mt-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="fw-600">Test Manager</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Test</li>
            </ol>
          </nav>
          <h4 class="mb-1 mt-0">Add Test </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div id="smartwizard-arrows" class="sw-main sw-theme-arrows">
            <ul class="nav nav-tabs step-anchor">
              <li class="nav-item active"><a class="nav-link">Create New Test<small class="d-block">Step 1</small></a>
              </li>
              <li class="nav-item"><a class="nav-link white">Test Settings<small class="d-block">Step 2</small></a></li>
              <li class="nav-item"><a class="nav-link white">Add Question to Test<small class="d-block">Step
                    2</small></a></li>
              <li class="nav-item"><a class="nav-link white">Assign Test to group<small class="d-block">Step
                    4</small></a></li>
              <li class="nav-item"><a class="nav-link white">Publish Test<small class="d-block">Step 5</small></a></li>
            </ul>
            <form [formGroup]="addTestForm" (ngSubmit)="onAddTest()">
              <div class="m-t-40 row">
                <div class="col-md-9 mx-auto">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Enter Test Name</label>
                            <input type="text" formControlName="testName" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Enter Test Code</label>
                            <input type="text" formControlName="testCode" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Total No. Of Question</label>
                            <input type="text" formControlName="totalNoOfQuestions" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Total Duration In Minutes</label>
                            <input type="text" formControlName="testDurationInMin" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Select Test Instruction</label>
                            <select formControlName="testInstruction" class="form-control">
                              <option>choose1</option>
                              <option>choose2</option>
                              <option>choose3</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Select Category</label>
                            <select formControlName="testCategory" class="form-control">
                              <option>choose1</option>
                              <option>choose2</option>
                              <option>choose3</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Difficulty Level </label>
                            <div class="col-sm-8">
                              <select formControlName="testDificultyLevel" class="form-control">
                                <option>Select Difficulty</option>
                                <option>Difficulty Level 1</option>
                                <option>Difficulty Level 2</option>
                                <option>Difficulty Level 3</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                          <div class="mt-3 text-center form-group">
                            <button [disabled]="addTestForm.invalid" class="btn btn-success btn-sm">
                              <span *ngIf="!testId">Save & Next</span>
                              <span *ngIf="testId">Update & Next</span><i class="uil uil-arrow-right"></i> </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div> <!-- end col -->
        </div>
      </div>

      <!-- end row -->
    </div> <!-- container-fluid -->
  </div> <!-- content -->
</div>