<app-header></app-header>
<app-sidebar></app-sidebar>
<div id=""></div>
<div class="content-page">
    <div class="content">
        
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row page-title mt-2 d-print-none">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" class="float-right mt-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="fw-600">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Approve Attandace</li>
                        </ol>
                    </nav>
                    <h4 class="mb-1 mt-0">Approve Attandace</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                           <!-- <div class="row m-b-20">
                               <div class="col-md-3">
                                   <select class="form-control">
                                       <option>Select Filter</option>
                                       <option>Test Name</option>
                                       <option>Test Category</option>
                                   </select> 
                               </div>
                               <div class="offset-md-4 col-md-5">
                                   
                                </div>
                           </div> -->
                            <div class="row m-b-30">
                                 <div class="offset-md-9 col-md-3">
                                      <input type="text" class="form-control" placeholder="Search">
                                 </div>
                            </div>
                            <div class="mt-4 mat-elevation-z8 table-responsive">
                                <table mat-table [dataSource]="dataSource" class="table">
                              
                                  <!-- Position Column -->
                                  <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef>
                                       <div class="custom-control custom-checkbox mb-2">
                                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                                      <label class="custom-control-label" for="customCheck1">Sr. No.</label>
                                      </div> 
                                </th>
                                    <td mat-cell *matCellDef="let element"> 
                                      <div class="custom-control custom-checkbox mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">{{element.id}}.</label>
                                        </div> 
                                       </td>
                                  </ng-container>
                              




                                  <!-- Name Column -->
                                  <ng-container matColumnDef="teacherId">
                                    <th mat-header-cell *matHeaderCellDef>Teacher Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
                                  </ng-container>
                               
                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef>Date</th>
                                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                                  </ng-container>
                              
                                  <!-- Symbol Column -->
                                  <ng-container matColumnDef="noOfLeaveDays">
                                    <th mat-header-cell *matHeaderCellDef>No. of leave Days</th>
                                    <td mat-cell *matCellDef="let element"> {{element.bdatetime}} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="leaveType">
                                    <th mat-header-cell *matHeaderCellDef>Leave Type</th>
                                    <td mat-cell *matCellDef="let element"> {{element.sname}} </td>
                                  </ng-container>
 
                                  <ng-container matColumnDef="note">
                                    <th mat-header-cell *matHeaderCellDef>Note</th>
                                    <td mat-cell *matCellDef="let element"> {{element.rdate}} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let element">
                                      <div class="d-flex">
                                        <!-- ------------------------------ -->

                                            <button [disabled]="element.hasAcceptedRegistrationRequest" (click)="onAcceptTeacherLeaveRequest(element)"
                                              class="btn btn-success mr-2 btn-sm">Accept</button>
                                            <button [disabled]="!element.hasAcceptedRegistrationRequest" (click)="onRejectTeacherLeaveRequest(element)"
                                              class="btn btn-danger btn-sm mr-2"> Reject </button>
                                        <!-- -------------------------------- -->
                                        <!-- <button class="btn btn-success mr-2 btn-sm">Approval</button> 
                                        <button class="btn btn-danger btn-sm mr-2"> Reject </button> -->
                                        <button class="btn btn-warning btn-sm" data-target="#reason" data-toggle="modal"> Comment </button>
                                      </div>
                                    </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
                              </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div> <!-- container-fluid -->

    </div> <!-- content -->

</div>

<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-body text-center">
        <div class="row">
          <div class="col-md-12">
            <i class="text-danger fs-34 d-inline-block uil uil-trash-alt mb-2"></i>
            <h6>Are you sure want to delete?</h6>
          </div>
        </div>
        <hr />
        <div class="row m-t-15">
          <div class="col-sm-12">
            <button type="button" class="btn btn-sm btn-success mr-1" data-target="#delete-sccess-modal" data-toggle="modal" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="reason">
    <div class="modal-dialog modal-md">
      <form>
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Comment</h6>
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>
            <div class="modal-body">
               
                <div class="form-group">
                   <!-- <label>Reason For Rejection</label> -->
                  <textarea class="form-control" rows="7">

                  </textarea>
                </div>
                <div class="margin-top-15 text-center">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
      </form>
    </div>
  </div>