<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="requestPage"></div>
<div class="content-page">
    <div class="content">
        
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row page-title mt-2 d-print-none">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" class="float-right mt-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="fw-600">Product</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Test Preview</li>
                        </ol>
                    </nav>
                    <h4 class="mb-1 mt-0">Test Preview</h4>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                    <div class="card">
                        <h6 class="card-title border-bottom p-3 mb-0 header-title">Final Testing <span class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock align-self-center icon-dual icon-lg mr-1"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> 60 min.</span></h6>
                    </div>
                </div>        
                <div class="col-md-8 col-lg-8 col-sm-12 col-12">
                    <div class="card min-height-quiz">
                        <div class="card-body">
                            <div class="page-section">
                                <div class="d-flex align-items-center page-num-container mb-16pt">
                                    <h5 class="mt-0">Question 1</h5>
                                </div>
            
                                <h6 class="text-70 measure-lead mb-32pt mb-lg-48pt">Why should a guard be aware of the legal protocols</h6>
                                 <div class="lst-1">
                                    <ul class="list-quiz">
                                        <li class="list-quiz-item">
                                            <span class="list-quiz-badge">A</span> 
                                            <span class="list-quiz-text">Ability to use newer syntax and offers reliability</span>
                                        </li>
                                        <li class="list-quiz-item active">
                                            <span class="list-quiz-badge bg-primary text-white"><i class="uil uil-check"></i></span>
                                            <span class="list-quiz-text">Compatibility</span>
                                        </li>
                                        <li class="list-quiz-item">
                                            <span class="list-quiz-badge">C</span>
                                            <span class="list-quiz-text">Usage of missing features</span>
                                        </li>
                                        <li class="list-quiz-item">
                                            <span class="list-quiz-badge">D</span>
                                            <span class="list-quiz-text">Usage of missing features</span>
                                        </li>
                                    </ul>
                                 </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="quiz-rule">
                            <ul>
                                <li  class="pointer" routerLink="/product/instruction-preview">
                                    <i class="uil fw-600 mr-2 uil-comment-info"></i>
                                    Instruction
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div> <!-- end col -->
                <div class="col-md-4 col-lg-4 col-sm-12 col-12">
                    <div class="card">
                         <div class="quiz-option">
                             <ul> 
                                 <li>
                                     <div class="quiz-bt">
                                            1
                                     </div>
                                 </li>
                                 <li>
                                    <div class="quiz-bt">
                                           2
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           3
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           4
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           5
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           6
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           7
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           8
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           9
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           10
                                    </div>
                                </li>
                                <li>
                                    <div class="quiz-bt">
                                           11
                                    </div>
                                </li>
                                <li>
                                   <div class="quiz-bt">
                                          12
                                   </div>
                               </li>
                               <li>
                                   <div class="quiz-bt">
                                          13
                                   </div>
                               </li>
                               <li>
                                   <div class="quiz-bt">
                                         14
                                   </div>
                               </li>
                               <li>
                                   <div class="quiz-bt">
                                          15
                                   </div>
                               </li>
                               <li>
                                   <div class="quiz-bt">
                                          16
                                   </div>
                               </li>
                               <li>
                                   <div class="quiz-bt">
                                         17
                                   </div>
                               </li>
                               <li>
                                   <div class="quiz-bt">
                                          18
                                   </div>
                               </li>
                               <li>
                                   <div class="quiz-bt">
                                          19
                                   </div>
                               </li>
                               <li>
                                   <div class="quiz-bt">
                                          20
                                   </div>
                               </li>
                               <li>
                                <div class="quiz-bt">
                                       21
                                </div>
                            </li>
                            <li>
                               <div class="quiz-bt">
                                      22
                               </div>
                           </li>
                           <li>
                               <div class="quiz-bt">
                                      23
                               </div>
                           </li>
                           <li>
                               <div class="quiz-bt">
                                     24
                               </div>
                           </li>
                           <li>
                               <div class="quiz-bt">
                                      25
                               </div>
                           </li>
                           <li>
                               <div class="quiz-bt">
                                      26
                               </div>
                           </li>
                           <li>
                               <div class="quiz-bt">
                                      27
                               </div>
                           </li>
                           <li>
                               <div class="quiz-bt">
                                      28
                               </div>
                           </li>
                           <li>
                               <div class="quiz-bt">
                                     29
                               </div>
                           </li>
                           <li>
                               <div class="quiz-bt">
                                      30
                               </div>
                           </li>
                           <li>
                            <div class="quiz-bt">
                                   31
                            </div>
                        </li>
                        <li>
                           <div class="quiz-bt">
                                  32
                           </div>
                       </li>
                       <li>
                           <div class="quiz-bt">
                                  33
                           </div>
                       </li>
                       <li>
                           <div class="quiz-bt">
                                  34
                           </div>
                       </li>
                       <li>
                           <div class="quiz-bt">
                                  35
                           </div>
                       </li>
                       <li>
                           <div class="quiz-bt">
                                  36
                           </div>
                       </li>
                       <li>
                           <div class="quiz-bt">
                                  37
                           </div>
                       </li>
                       <li>
                           <div class="quiz-bt">
                                  38
                           </div>
                       </li>
                       <li>
                           <div class="quiz-bt">
                                  39
                           </div>
                       </li>
                       <li>
                           <div class="quiz-bt">
                                  40
                           </div>
                       </li>
                             </ul>
                         </div>
                    </div>
                    <div class="card">
                        <div class="quiz-rule">
                            <ul>
                                <li>
                                    <div class="sky"></div>
                                    Attempted
                                </li>
                                <li>
                                    <div class="s-circle"></div>
                                    Unattempted
                                </li>
                                <li>
                                    <div class="s-voi"></div>
                                    Review
                                </li>
                                <li>
                                    <div class="s-skip"></div>
                                    Skip
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row --> 
        </div> <!-- container-fluid -->

    </div> <!-- content -->

</div>
